/*colores*/
$colorweb: #7bafe1;
$colorhover: #434343;
$colortext: #434343;
$green: #00C73B;
$purple: #5A1FAD;
$facebook: #005B98;
$google-plus: #F66655;

/*fuentes*/
$OpenSans : 'OpenSans Regular', sans-serif;
