
h1,h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 10px;
    &:after{
        content: '';
        width: 200px;
        height: 2px;
        background-color: #FFF;
        display: block;
        margin: 2rem auto 1rem auto;
    }
}

#principal{
    position: relative;
    min-height: 600px;
    height: -webkit-calc( 100vh  - 100px );
    height: calc( 100vh  - 100px );
    margin-top: 99px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    h1{
    }
    p{
        font-size: 1.8rem;
    }
    article{
        z-index: 2;
        position: relative;
        display: flex;
        max-width: 600px;
        margin: auto;
        flex-direction: column;
    }
    img{
        display: blocK;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 101%;
        min-width: 101%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    button{
        background-color: transparent;
        margin: 0 auto 1rem auto;
        z-index: 99;
        cursor: pointer;
        transition: all 300ms ease;
    }
    svg{
        fill: #FFF;
        width: 35px;
    }
}


#dosruedas{
    background-color: #727577;
    background-color: #636567;
    min-height: 600px;
    height: 100vh;
    display: flex;
    color: #FFF;
    >*{
        width: 50%;
        flex-grow: 1;
        align-items: stretch;
    }
    h2{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;
        &:after{
            margin: .5rem auto 2rem 0;
        }
    }
    p,strong{
        font-size: 1.8rem;
    }
    strong{
        text-transform: uppercase;
    }
    article{
        width: 94%;
        margin: auto;
        >*{
            width: 90%;
            margin: auto;
            display: block;
        }
    }
    img{
        order: -1;
        display: block;
        max-width: 100%;
    }
}


#servicios{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #57595A;
    svg{
        width: 150px;
        fill: #57595A;
        order: -1;
        margin-bottom: 1rem;
    }
    .list{
        display: flex;
        justify-content: space-around;
        li{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    h3{
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    h2{
        &:after{
            width: 150px;
            background-color: #56595a;
            margin: 1rem auto 2rem auto;
        }
    }
    p{
        font-size: 1.5rem;
    }
    article{
        ul{
            margin-bottom: 100px;
            li{
                p{
                    font-size: 1.15rem;
                    max-width: 230px;
                }
            }
        }
    }
    img{
        display: blocK;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 101%;
        min-width: 101%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
    }
}
